@using System.Activities.Statements
@using System.Diagnostics.Eventing.Reader
@using System.Linq
@using Microsoft.AspNet.Identity
@model IEnumerable<GymBoken.Models.GymClass>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>


                @if (User.Identity.IsAuthenticated)
                {

                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span> | </span>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        <span> | </span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        <span> | </span>
                        @Html.ActionLink("Book", "BookingToggle", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        <span> | </span>
                        if (item.AttendingMembers.Any(a => a.UserName == User.Identity.Name))
                        {
                            @Html.ActionLink("UnBook", "BookingToggle", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Book", "BookingToggle", new { id = item.Id })
                        }
                    }
                }

            </td>
        </tr>
    }

</table>
